.backgroundParent {
    width: 100%;
    height: 100%;
    text-align: right;
    overflow: hidden;
}
.background{
    transform: scale(1, -1); /*cause using canvas contexts, the origin is in the top left corner*/
    position: absolute;
    z-index: 0;
    background-color: gainsboro; /* Random grey I saw was pretty cool*/
    margin-left: 7%;
    margin-right: 10%;
    margin-top: 3%;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
}
.grid{
    transform: scale(1, -1);
    position: absolute;
    z-index: 1;
    margin-left: 7%;
    margin-right: 10%;
    margin-top: 3%;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
}
.vectorOverlay{
    transform: scale(1, -1);
    position: absolute;
    z-index: 2;
    margin-left: 7%;
    margin-right: 10%;
    margin-top: 3%;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
}
.gridline{
    background-color: black;
}
.mouseHide{
    visibility: hidden;
}
:hover .mouseHide{
    visibility: visible;
}